body{
  background-color: #F5D5AE;
}
.outer{
display: grid;
margin: 10vh 0 10vh 80vh ;
width: 20%;
padding: 5vh;
background-color:#DBA39A;
border-radius: 30px;
text-align: center;
}
.input{
  margin: 15px;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 10px black;
}
.button{
  margin: 5vh 10vh 0 8vh;
  border-radius: 30px;
padding: 10px;
}
h1{
  text-align: center;
}